.dash-stryl {
    a {
        background-color: rgb(4, 216, 197);
        color: white;
        border: none;
    }
    .card {
        border: 1px solid rgb(4, 216, 197);
    }
    hr {
        color: rgb(4, 216, 197);
    }
}
